<?xml version="1.0" ?>
<!--
/**
 * @copyright: Copyright © 2020 Anantkprajapati. All rights reserved.
 * @author   : Anant Prajapati <anant101289@gmail.com>
 * @site : https://anantkprajapati.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AKP_CSP" setup_version="1.1.0" data_version="1.1.0"/>
</config>